
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 150vh;
    font-size: small;
    background-color: rgb(58, 69, 69);
}
  
h1 {
  text-align: center;
  font-style: italic;
  font-size: x-large;
  color: white;
}

p {
  text-align: center;
  font-style: normal;
  font-size: large;
  font-weight: 500;
  color: rgb(203, 210, 76);
}



  