
body {
    margin: 0;
    padding: 00px;
    display: flex;
    justify-content: center;
    text-align: center;
    /* height: 250vh; */
    font-size: small;
    background-color: rgb(58, 69, 69);
}
  
h1 {
  text-align: center;
  font-style: italic;
  font-size: x-large;
  color: white;
}

.wrapper {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 100px;
  padding-right: 100px;
  font-style: normal;
  font-size: large;
  font-weight: 500;
  color: rgb(203, 210, 76);
}

h2 {
  text-align: center;
  font-style: italic;
  font-size: large;
  color: white;
}


  